<html>
<head>
    <title>Clients</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>
    <script src="/js/controllers.js"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body ng-app="clientApp"  ng-controller="ClientList">
<br>
<input placeholder="Поиск" type="text"ng-model="query">
<br>
<br>
<table border="2" width="80%">
    <tr>
        <th class="headSortCell" ng-click="sort('id')">Id</th>
        <th class="headSortCell" ng-click="sort('surname')">Фамилия</th>
        <th class="headSortCell" ng-click="sort('name')">Имя</th>
        <th class="headSortCell" ng-click="sort('patronymicName')">Отчество</th>
        <th class="headSortCell" ng-click="sort('birthday')">Дата рождения</th>
        <th class="headSortCell" ng-click="sort('accountNumber')">Номер счета</th>
    </tr>
    <tr ng-repeat="client in clients | filter:query  | orderBy:sortField:reverse | startFrom: startingClient() | limitTo: clientsPerPage" ng-form="delete">
        <td>{{client.id}}</td>
        <td>{{client.surname}}</td>
        <td>{{client.name}}</td>
        <td>{{client.patronymicName}}</td>
        <td>{{client.birthday| date:'dd.MM.yyyy'}}</td>
        <td>{{client.accountNumber}}</td>
        <td>
            <button ng-click="Delete(client.id)">Удалить</button>
            <button ng-click="PressedEdit(client.id)">Изменить</button>
        </td>
    </tr>
</table>
<div id="pagination" class="row">
    <button class="pull-left btn btn-primary btn-sm" ng-disabled="firstPage()" ng-click="pageBack()">Назад</button>
    <span>{{currentPage+1}} из {{numberOfPages()}}</span>
    <button class="pull-right  btn btn-primary btn-sm" ng-disabled="lastPage()" ng-click="pageForward()">Вперед</button>
</div>
<div class="container">
    <button class="btn btn-primary" ng-click="PressedAdd()">{{ AddMessage }}</button>
</div>
<po-up-dialog></po-up-dialog>
</body>
</html>