<html>
<head>
    <title>Clients</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>
    <script src="/js/controllers.js"></script>
    <meta charset="utf-8">
</head>
<body ng-app="clientApp"  ng-controller="ClientList">
<input type="text"ng-model="query">
<table border="2" width="80%">
    <tr>
        <th>Id</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Дата рождения</th>
        <th>Номер счета</th>
    </tr>
    <tr ng-repeat="client in clients | filter:query" ng-form="delete ">
        <td>{{client.id}}</td>
        <td>{{client.surname}}</td>
        <td>{{client.name}}</td>
        <td>{{client.patronymicName}}</td>
        <td>{{client.birthday| date:'dd.MM.yyyy'}}</td>
        <td>{{client.accountNumber}}</td>
        <td>
            <button ng-click="Delete(client.id)">Удалить</button>
            <button ng-click="PressedEdit(client.id)">Изменить</button>
        </td>
    </tr>
</table>
<!--<form action="/client/" method="post">-->
<div ng-show="edit==-1">
    <h1>Добавить нового клиента</h1>
    <form ng-submit="Add()">
        <div class='form-group'>
            <label for='id'>Id:</label>
            <input required id='id' class='form-control' ng-model='newclient.id' type='number'>
        </div>
        <div class='form-group'>
            <label for='surname'>Фамилия:</label>
            <input required id='surname' class='form-control' ng-model='newclient.surname' type='text'>
        </div>
        <div class='form-group'>
            <label for='name'>Имя:</label>
            <input required id='name' class='form-control' ng-model='newclient.name' type='text'>
        </div>
        <div class='form-group'>
            <label for='patronymicName'>Отчество:</label>
            <input required id='patronymicName' class='form-control' ng-model='newclient.patronymicName' type='text'>
        </div>
        <div class='form-group'>
            <label for='birthday'>Дата рождения:</label>
            <input required id='birthday' class='form-control' ng-model='newclient.birthday' type='date'>
        </div>
        <div class='form-group'>
            <label for='accountNumber'>Номер счета:</label>
            <input required id='accountNumber' class='form-control' ng-model='newclient.accountNumber' type='number'>
        </div>
        <input type="submit" value="Добавить">
        {{newclient | json}}
    </form>
</div>
<div ng-hide="edit==-1">
    <h1>Редактировать клиента</h1>
    <form ng-submit="Edit()">
        <div class='form-group'>
            <label for='_id'>Id:</label>
            <input required id='_id' class='form-control' ng-model='oldclient.id' type='number' disabled value="{{edit}}">
        </div>
        <div class='form-group'>
            <label for='_surname'>Фамилия:</label>
            <input required id='_surname' class='form-control' ng-model='oldclient.surname' type='text'>
        </div>
        <div class='form-group'>
            <label for='_name'>Имя:</label>
            <input required id='_name' class='form-control' ng-model='oldclient.name' type='text'>
        </div>
        <div class='form-group'>
            <label for='_patronymicName'>Отчество:</label>
            <input required id='_patronymicName' class='form-control' ng-model='oldclient.patronymicName' type='text'>
        </div>
        <div class='form-group'>
            <label for='_birthday'>Дата рождения:</label>
            <input required id='_birthday' class='form-control' ng-model='oldclient.birthday' type='date' value="{{oldclient.birthday| date:'yyyy-MM-dd'}}">
        </div>
        <div class='form-group'>
            <label for='_accountNumber'>Номер счета:</label>
            <input required id='_accountNumber' class='form-control' ng-model='oldclient.accountNumber' type='number'>
        </div>
        <input type="submit" value="Сохранить">
        {{oldclient | json}}
    </form>
</div>
</body>
</html>