<div id="popUpDialog-bg"  ng-show="showPopUpDialog">
    <div id="popUpDialog">
        <h1>{{ AddOrEditMessage }}</h1>
        <form id="myForm" >
            <div class='form-group' class="content">
                <label for='_id'>Id:</label>
                <input required id='_id' class='form-control' ng-model='newclient.id' type='number' ng-disabled="!ifAddThenTrue">
            </div>
            <div class='form-group' class="content">
                <label for='_surname'>Фамилия:</label>
                <input required id='_surname' class='form-control' ng-model='newclient.surname' type='text'>
            </div>
            <div class='form-group' class="content">
                <label for='_name'>Имя:</label>
                <input required id='_name' class='form-control' ng-model='newclient.name' type='text'>
            </div>
            <div class='form-group' class="content">
                <label for='_patronymicName'>Отчество:</label>
                <input required id='_patronymicName' class='form-control' ng-model='newclient.patronymicName' type='text'>
            </div>
            <div class='form-group' class="content">
                <label for='_birthday'>Дата рождения:</label>
                <input required id='_birthday' class='form-control' ng-model='string' type='date' value="{{newclient.birthday| date:'yyyy-MM-dd'}}">
            </div>
            <div class='form-group' class="content">
                <label for='_accountNumber'>Номер счета:</label>
                <input required id='_accountNumber' class='form-control' ng-model='newclient.accountNumber' type='number'>
            </div>
            <button class="btn btn-primary" ng-click="AddOrEdit(ifAddThenTrue)">Сохранить</button>
            <button class="btn btn-warning" ng-click="closePopUpDialog()">Закрыть</button>
        </form>
    </div>
</div>
