<div id="popUpDialog-bg"  ng-show="showPopUpDialog">
    <div id="popUpDialog">
        <h1>{{ AddOrEditMessage }}</h1>
        <form id="myForm" name="myForm" ng-submit="AddOrEdit(ifAddThenTrue)">
            <div class='form-group' class="content">
                <label for='_id'>Id:</label>
                <input required id='_id' class='form-control' ng-model='newclient.id' type='number' ng-disabled="!ifAddThenTrue">
            </div>
            <div class='form-group' class="content">
                <label for='_surname'>Фамилия:</label>
                <input required id='_surname' class='form-control' ng-model='newclient.surname' type='text'>
            </div>
            <div class='form-group' class="content">
                <label for='_name'>Имя:</label>
                <input required id='_name' class='form-control' ng-model='newclient.name' type='text'>
            </div>
            <div class='form-group' class="content">
                <label for='_patronymicName'>Отчество:</label>
                <input required id='_patronymicName' class='form-control' ng-model='newclient.patronymicName' type='text'>
            </div>
            <div class='form-group' class="content">
                <label for='_birthday'>Дата рождения:</label>
                <input required id='_birthday' name='_birthday' class='form-control' ng-model='string' type='date' value="{{newclient.birthday| date:'yyyy-MM-dd'}}" min="1900-01-01" max="{{today| date:'yyyy-MM-dd'}}">
            </div>
            <div ng-messages="myForm._birthday.$error">
                <div ng-message="min" style="color:#ff0000">Нет таких старых людей, не ври!</div>
                <div ng-message="max" style="color:#ff0000">Вы не могли родиться в будущем!</div>
            </div>
            <div class='form-group' class="content">
                <label for='_accountNumber'>Номер счета:</label>
                <input required id='_accountNumber' class='form-control' ng-model='newclient.accountNumber' type='number'>
            </div>
            <input type="submit" class="btn btn-primary" value="Сохранить"/>
            <button class="btn btn-warning" ng-click="closePopUpDialog()">Закрыть</button>
        </form>
    </div>
</div>
