.container {
    padding-top: 10px;
}
#popUpDialog-bg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}
#popUpDialog {
    position: fixed;
    width: 400px;
    left: 50%;
    margin-left: -125px;
    margin-top: 5%;
    padding: 15px;
    border-radius: 5px;
    background: white;
}
#popUpDialog .content {
    margin-bottom: 15px;
    text-align: center;
}
#popUpDialog .buttons-container {
    width: 80%;
    margin: 0 auto;
}
.headSortCell:hover{
    cursor: pointer;
}
button:hover{
    cursor: pointer;
}
button:disabled{
     cursor: default;
}
th{
    width: 10%;
}
td{
    width: 10%;
}