<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <bean name="clientDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="com.mysql.jdbc.Driver"
          p:url="jdbc:mysql://localhost:3306/Bank"
          p:username="root"
          p:password=""/>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
        p:dataSource-ref="clientDataSource">
        <property name="mappingResources">
            <list>
                <value>client.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=org.hibernate.dialect.MySQLInnoDBDialect
                hibernate.show_sql=true
                hibernate.c3p0.timeout=600
            </value>
        </property>
    </bean>

    <bean id="clientService"
          class="client.service.ClientService"
        p:sessionFactory-ref="sessionFactory"
    />

    <bean id="transactionInterceptor"
          class="org.springframework.transaction.interceptor.TransactionInterceptor"
          p:transactionManager-ref="transactionManager">
        <property name="transactionAttributes">
            <props>
                <prop key="add*">PROPAGATION_REQUIRES_NEW</prop>
                <prop key="update*">PROPAGATION_REQUIRES_NEW</prop>
                <prop key="remove*">PROPAGATION_REQUIRES_NEW</prop>
                <prop key="get*">PROPAGATION_REQUIRED</prop>
                <prop key="list*">PROPAGATION_REQUIRES_NEW</prop>
            </props>
        </property>
    </bean>


    <bean id="transactionManager"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager"
          p:dataSource-ref="clientDataSource"
          p:sessionFactory-ref="sessionFactory"
    />

    <bean id="clientServiceProxy"
          class="org.springframework.aop.framework.ProxyFactoryBean"
          p:target-ref="clientService">
        <property name="interceptorNames">
            <list>
                <value>transactionInterceptor</value>
            </list>
        </property>
    </bean>

    <mvc:annotation-driven />

    <bean id="jsonMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>

    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="jsonMessageConverter"/>
            </list>
        </property>
    </bean>

    <context:component-scan base-package="client.controller"/>
</beans>